body {
    background-color: #ffc0cb;
}
.navlogo img {
    width: 110px;
    height: 60px;
    cursor: pointer;
    justify-content: space-between;
    color: #ffc0cb;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc0cb;
    margin-top: 0;
    border-radius: 3px;
}


.navbar {
    padding-right: 80px;
    word-spacing: 80px;
}

.navbar a {
    color: rgba(0, 0, 255, 0.603);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: black;
    transform: scale(1-2);
}
#contact form label {
    font-size: 14px;
    padding: 10px o;
    font-weight: 600px;


}

#contact form input {
    padding: 8px;
    outline: 0;
    border: 1px solid rgb(76, 76, 179);
    ;
}

textarea {
    height: 150px;
    resize: none;
    outline: 0;
    width: 90%;
    padding: 10px;
}

#contact form input:focus,
textarea:focus {
    border: 1px solid rgb(76, 76, 179);
    ;


}

iframe {
    height: 150px;
    width: 100%;

}

button {
    width: fit-content;
    padding:  8px 40px;
    border: 1px solid rgb(76, 76, 179);
    cursor: pointer;
    transition: 0, 5s;
    position: relative;
    

}
/* contact.html */
.contact {
    padding: 0 10%;
    margin-bottom: 50px;
    
 
}
.en{
    margin-left: 50%;
    margin-bottom: 10%;
}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: rgb(76, 76, 179);
    text-transform: uppercase;


}

#contact form {

    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 100px;

}

#contact .right {
    margin-bottom: 70px;
}

.left-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;

}

.left-right .left,
.left-right .right {
    display: flex;
    flex-direction: column;
    width: 700%;
    margin: 50px;
    color: rgba(0, 0, 255, 0.603);
    ;


}

#contact button:hover {
    letter-spacing: 1px;

}
.media {
    align-items: center;
    margin-left: 100px;
    color:rgba(0, 0, 255, 0.603); 
    text-transform: uppercase;
}